.about {
  padding: 100px 15px;
  background-color: $light-text;

  .about-content {

    .text {
      flex: 0 0 66.66%;
      max-width: 66.66%;
      padding-right: 30px;

      h4 {
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 5px;
        color: $dark-text;
      }

      h6 {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 5px;
        color: $dark-text;
      }

      span {
        color: $accent-text;
      }

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: $para-text;
        margin: 0 0 20px;
      }

      .social-links {
        padding-top: 25px;

        a {
          height: 30px;
          width: 30px;
          border-radius: 3px;
          background-color: $dark-text;
          display: inline-block;
          text-align: center;
          border: 1px solid $dark-text;
          line-height: 32px;
          margin: 0 4px;
          transition: all .5s ease;

          &:hover {
            background-color: transparent;

            .fab {
              color: $dark-text;
            }
          }

          .fab {
            color: $light-text;
            font-size: 20px;
            transition: all .5s ease;
          }
        }
      }

      .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .list {
          flex: 0 0 calc(50% - 15px);
          max-width: calc(50% - 15px);
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid $para-text;
          padding-bottom: 10px;

          label {
            padding-right: 10px;
            color: $dark-text;
            font-weight: 600;
            font-size: 15px;
          }

          p {
            margin: 0;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: $para-text;
          }
        }
      }
    }
  }

  .img {
    flex: 0 0 33.33%;
    width: 250px;
    // max-width: 33.33%;
    
    img {
      width: 100%;
      display: block;
      border-radius: 10px;
      border: 8px solid $background;
    }
  }

  .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;

    h1 {
      display: inline-block;
      font-size: 35px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 10px;
      color: $dark-text;
      position: relative;
      padding-bottom: 0;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 30%;
        height: 2px;
        background-color: $accent-text;
        bottom: 0;
      }
    }

    p.small {
      display: block;
      font-size: 14px;
      color: $para-text;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
}