@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

$main-font: 'Raleway', sans-serif;
$font-family: 'Poppins', sans-serif;

$light-text: #fff;
$dark-text: rgb(35, 36, 36);
$color-text: #402a4e;
// $accent-text: #febd01;
// $accent-text: #833471;
$accent-text: rgb(123, 42, 87);
$para-text: #838383;
$light-grey: #d5d5d5;
$background: rgb(64, 65, 58);
$background-light: rgb(240, 240, 236);
$warning: #c04b4bd6;
$success: #81cebe;

$off-white: rgb(252, 250, 249);

/* utilities */

.text-center {
    text-align: center!important;
  }
  
  .text-left {
    text-align: left!important;
  }
  
  .text-right {
    text-align: right!important;
  }
  
  
  .text-uppercase {
    text-transform: uppercase!important;
  }
  
  .align-items-center {
    align-items: center;
  }