@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$main-font: 'Raleway', sans-serif;
$font-family: 'Poppins', sans-serif;

$light-text: #fff;
$dark-text: #000;
$color-text: #402a4e;