@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$main-font: 'Raleway', sans-serif;
$font-family: 'Poppins', sans-serif;

$light-text: #fff;
$dark-text: #000;
$color-text: #402a4e;
$accent-text: #febd01;
$para-text: #838383;

$off-white: rgb(240, 237, 244);

/* utilities */
.text-center {
    text-align: center!important;
  }
  
  .text-left {
    text-align: left!important;
  }
  
  .text-right {
    text-align: right!important;
  }
  
  
  .text-uppercase {
    text-transform: uppercase!important;
  }
  
  .align-items-center {
    align-items: center;
  }